[workspace.package]
version = "0.2.2"
edition = "2021"
description = "Surfpool is the best place to train before surfing Solana."
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/txtx/surfpool"
keywords = ["solana-programs", "web3", "solana", "blockchains"]
categories = ["cryptography"]

[workspace]
members = [
    "crates/cli",
    "crates/core", 
    "crates/gql",
    "crates/subgraph",
    "crates/types"
]
default-members = ["crates/cli"]
resolver = "2"

[workspace.dependencies]
agave-geyser-plugin-interface = "2.2.1"
bincode = "1.3.3"
crossbeam-channel = "0.5.15"
hex = "0.4.3"
ipc-channel = "0.19.0"
surfpool-core = { path = "crates/core", default-features = false }
surfpool-gql = { path = "crates/gql", default-features = false }
surfpool-subgraph = { path = "crates/subgraph", default-features = false }
surfpool-types = { path = "crates/types", default-features = false }
# litesvm = { path = "../litesvm/crates/litesvm", features = ["nodejs-internal"] }
litesvm = { version = "0.6.0", features = ["nodejs-internal"] }
serde = "1.0.217"
serde_bytes = "0.11.17"
serde_derive = "1.0.217" # must match the serde version, see https://github.com/serde-rs/serde/issues/2584#issuecomment-1685252251
serde_json = "1.0.135"
serde_with = "3"
solana-account = "2.2.1"
solana-account-decoder = "2.2.1"
solana-blake3-hasher = { version = "2.2.1", features = ["serde"]}
solana-client = "2.2.1"
solana-clock = { version = "2.2.1", features = ["serde"]}
solana-commitment-config = "2.2.1"
solana-epoch-info = { version = "2.2.1", features = ["serde"] }
solana-epoch-schedule = "2.2.1"
solana-feature-set = "2.2.1"
solana-hash = "2.2.1"
solana-keypair = "2.2.1"
solana-message = { version = "2.2.1", features = ["serde"]}
solana-native-token = "2.2.1"
solana-packet = "2.2.1"
solana-program = "2.2.1"
solana-pubkey = { version = "2.2.1", features = ["serde"]}
solana-rpc-client = "2.2.1"
solana-rpc-client-api = "2.2.1"
solana-runtime = "2.2.1"
solana-sdk = "2.2.1"
solana-signature = { version = "2.2.1", features = ["serde"]}
solana-signer = "2.2.1"
solana-system-interface = { version = "1.0.0", features = ["bincode"] }
solana-transaction = { version = "2.2.1", features = ["serde", "bincode"]}
solana-transaction-context = { version = "2.2.1", features = ["serde"]}
solana-transaction-error = { version = "2.2.1", features = ["serde"]}
solana-transaction-status = { version = "2.2.2" }
solana-version = "2.2.1"
spl-associated-token-account =  "6.0.0"
# txtx-addon-kit = { path = "../txtx/crates/txtx-addon-kit", features = ["wasm"]}
# txtx-addon-network-svm = { package = "txtx-addon-network-svm", path = "../txtx/addons/svm/core" }
# txtx-addon-network-svm-types = { package = "txtx-addon-network-svm-types", path = "../txtx/addons/svm/types" }
# txtx-core = { path = "../txtx/crates/txtx-core" }
# txtx-gql = { path = "../txtx/crates/txtx-gql" }
# txtx-cloud = { path = "../txtx/crates/txtx-cloud" }
# txtx-supervisor-ui = { path = "../txtx/crates/txtx-supervisor-ui", default-features = false, features = ["bin_build"] }
# txtx-cloud = { path = "../txtx/crates/txtx-cloud" }
txtx-addon-kit = { version = "0.2.11", features = ["wasm"] }
txtx-core = { version = "0.2.14" }
txtx-addon-network-svm = { version = "0.1.18" }
txtx-addon-network-svm-types = { version = "0.1.17" }
txtx-gql = { version = "0.2.6" }
txtx-supervisor-ui = { version = "0.1.4", default-features = false, features = ["crates_build"]}
txtx-cloud = "0.1.3"
uuid = "1.15.1"
